* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}

button {
    color: white;
    background-color: black;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover, .btn:active {
    transform: scale(1.1);
}

.container {
    background-color: rgb(10, 10, 10);
    margin: 0 auto;
    /* max-width: 100%; */
    /* max-height: 100%; */
    width: 100%;
    height: 100vh;
    border: black 1px solid;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 2fr 2fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    overflow-y: none;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: 1 / 2 / 2 / 5;
}

.book-container {
    background-color: rgb(10, 10, 10);
    border: solid 1px rgb(199, 199, 199);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-area: 2 / 2 / 5 / 5;
    margin: 1rem;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 1rem;
}

.book-container::-webkit-scrollbar {
    display: none;
}

.book-card {
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    border: solid rgb(199, 199, 199) 1px;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    
}

.header-container h1 {
    color: rgb(233, 218, 87);
}

.sidebar-container {
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    /* max-width: 100%;
    max-height: 100%; */
    width: 100%;
    height: 100%;
    transition: all 1s linear;

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 107, 233);
    color: rgb(233, 218, 87);
    font-weight: bold;
    margin: 1rem 1rem 0 1rem;
    border-radius: 9px;
    justify-self: stretch;
    grid-area: 1 / 1 / 3 / 2;
}

.opaque  {
    background-color: rgba(134, 107, 233, 0);
    transform: scale(.1);
    /* display: none !important; */
    transition: all .5s linear;
    z-index: -999;
}

.input-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container div {
    margin-bottom: 1rem;
}

form button {
    background-color: rgb(134, 107, 233);
    border: none;
    color: rgb(233, 218, 87);
}

.label-alignment-container label {
    font-size: 1.5rem;
}

.label-alignment-container input{
    margin-top: .3rem;
}

.legend-container {
    align-self: center;
    text-align: center;
    font-size: 2rem;
}

.book-of-lore-anchor {
    color: rgb(233, 218, 87);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: rgb(10, 10, 10);
}

.side-bar-lower-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-area: 3 / 1 / 5 / 2;
    flex: 1;
}

.side-bar-img-container {
    border: solid 1px white;
    color: white;
    flex: 1;
    padding: 0 1rem;
    margin-bottom: 1rem;
    max-height: 100%;
    min-height: 0;
    min-width: 0;
}

.hidden-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-area: 1 / 1 / 5 / 2;
    /* display: flex;
    flex-direction: column;
    justify-content: stretch; */
    transition: all 1s linear;

}

.sidebar-image-grid {
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    transition: all 1s linear;
}

.side-bar-img-grid-container {
    display:flex;
    border: solid white 1px;
    margin: 0 1rem 0 1rem;
}

.side-bar-img-grid-container img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.generated-img {
    max-width: 100%;
    max-height: 100%;
}

.remove-icon {
    stroke: gold;
    max-height: 1.5rem;
    align-self: flex-end;
    justify-self: flex-start;
    cursor: pointer;
}